doctype html
html(moznomarginboxes mozdisallowselectionprint)
	head
		
		link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/templates.css')
		
		style.
			a
			{
			color: #{linkscolor}!important;
			}
	
	body
		img(id="logo", src="/images/logo.jpg")
		block content
