img(class="notification", src='/images/Blades_snake-32.gif', ng-show='notif_statut == "loading"')
div(class="notification valid", ng-show='notif_statut == "validated"', ng-class='statutmessage')
	p {{successmessage}}
